/* write your override styles here */

#wall .tag-1{ /*good*/
    display:none   
}
body #wall #tag-2 { /*good*/
    display:none   
}
body div#wall #tag-3.slick  { /*good*/
    display:none   
}

#wall .parent #tag-4{ /*good*/
    display:none   
}

body div#wall .parent #tag-5.slick{ /*good*/
    display:none   
}

html div#wall div.parent div:last-child div#tag-6 { 
    display:none   
}

html body div#wall div.parent div > #tag-7.slick {
    display:none
}